/* шрифты: */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vendor/fonts/FiraSansExtraCondensed-Regular.woff2') format('woff2'),
       url('./vendor/fonts/FiraSansExtraCondensed-Regular.woff') format('woff');
}

.page {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Fira Sans Extra Condensed', sans-serif, Arial;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #474a4f;
}

/* header */
.profile {
  max-width: calc(100% - 10px);
  margin: 50px 0 50px 0;
  display: flex;
  align-items: center;
}

.profile__photo {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-right: 50px;
  margin-left: 50px;
}

.profile__photo:hover {
  transform: rotate(360deg);
  transition-duration: 5s;
  cursor: pointer;
}

.profile__link-conteiner {
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
}

.profile__text {
  color: rgb(103, 186, 218);
  margin-top: 0;
  font-size: 30px;
  font-weight: 400;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__links {
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profile__links:hover {
  opacity: 0.7;
}

.profile__link-titel {
  color: rgb(34, 171, 239);
  font-size: 25px;
  margin-left: 10px;
}

.profile__link-titel-instagram {
  color: red;
}

@media screen and (max-width: 1024px) {
  .profile__link-conteiner {
    flex-direction: column;
  }

  .profile__text {
    font-size: 25px;
  }

  .profile__link-titel {
    font-size: 20px;
  }

}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
  }

  .profile__photo {
    margin-bottom: 10px;
  }

  .profile__links {
    align-items: center;
  }

  .profile__text {
    font-size: 22px;
  }

  .profile__link-titel {
    font-size: 18px;
  }

  .profile__link-titel-tiktok {
    color: red;
    margin-right: 0;
  }

}

/* фото-сетка */

.content {
  max-width: calc(100% - 10px);
}

.content__titel {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(103, 186, 218);
  margin-top: 0;
  font-size: 30px;
  font-weight: 800;
}

.photos {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
  gap: 40px 5px;
  justify-content: space-around;
}

.photo__text {
  color: rgb(103, 186, 218);
  font-size: 25px;
  max-width: 350px;
  margin: 0;
}

.photo__image {
  max-width: 350px;
  margin: 10px 0;

}

@media screen and (min-width: 880px) and (max-width: 1085px) {
  .photo__image {
    max-width: 400px;
  }

  .photos {
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
  }

  .photo__text {
    max-width: 400px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .content__titel {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
  }
}


@media screen and (max-width: 400px) {
  .photos {
    gap: 10px 0;
    max-width: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  }

  .photo__text {
    max-width: 300px;
    margin-top: 0;
  }

  .photo__image {
    max-width: 300px;
    margin-bottom: 0;
  }

}

.photo__image:hover {
  transform: scale(105%);
  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  max-width: calc(100% - 10px);
}

.footer__author {
  color: rgb(103, 186, 218);
  font-size: 18px;
}

.footer__link {
  display: flex;
  color: rgb(103, 186, 218);
  ;
  text-decoration: none;
  font-size: 18px;
  align-content: center;
}

.footer__linl-text {
  margin-left: 5px;
  text-decoration: none;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.7;
}


 /* .outline {
  border: solid red 1px;
} */
